html {
line-height: 1.5;
}

html {
  box-sizing: border-box;
  }

  *, *::before, *::after {
    box-sizing: inherit;
}

.cards {
margin: 0;
padding: 0;
list-style-type: none;
}

.cards li {
  display: inline-block;
  margin: 0 .5em 1em;
  max-width: 20em;
  padding: 1em;
  background-color: #b2a212;
  border-radius: 10px;
}

h1 {
  color: #cc1465;
  font-size: 3rem;
  font-family: 'Sigmar One',sans-serif;
}

header {
  background-color: #ffe500;
}

body {
  margin: 0;
}

h2{
  font-family:'Sigmar One', sans-serif;
  color: #cc1465
}
